*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}

img,
picture {
    max-width: 100%;
}

:root {
    /*    Colors    */
    --text-white: 0 0% 100%;
    --text-black: 0 0% 0%;
    --text-gray: 0 0% 55%;
    --text-dark-gray: 0 0% 41%;

    /*  font family */
    --ff-alata: 'Alata', sans-serif;
    --ff-jsans: 'Josefin Sans', sans-serif;

/*    Font Weight   */
    --fw-300: 300;
    --fw-400: 400;/*alata*/

/*    Font Sizes    */
    --fs-400: 1.5rem;
    --fs-600: 4.8rem;
    --fs-800: 3.2rem;
    --fs-900: 7.2rem;

}

@media (max-width: 35em) {
    :root {
    /*    Font size and reset */
        --fs-400: 1.8rem;
        --fs-500: 2rem;
        --fs-600: 3.2rem; /* 4.0 at 470vw*/
        --fs-700: 4rem;
        --fs-800: 2.7rem; /* 3.2 at 470vw */
        --fs-900: 4.4rem; /* 5.2 at 470vw*/
    }
}

.container {
    max-width: 115rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.container-xl {
    max-width: 140rem;
    margin-inline: auto;
}

.flex {
    display: flex;
    gap: var(--flex-gap, 2rem);
}

.space-bw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
    gap: var(--grid-gap, 2rem);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}



/*      Utility Classes     */

/*text color*/
.text-white {
    color: hsl(var(--text-white));
}

.text-black {
    color: hsl(var(--text-black));
}

.text-gray {
    color: hsl(var(--text-gray));
}

.text-dark-gray {
    color: hsl(var(--text-dark-gray));
}

/* background  */

.bg-black {
    background-color: hsl(var(--text-black));
}

/*  Font Family */

.ff-alata {
    font-family: var(--ff-alata);
}

.ff-jsans {
    font-family: var(--ff-jsans);
}

/*  Font Weight */
.fw-300 {
    font-weight: var(--fw-300);
}

.fw-400 {
     font-weight: var(--fw-400);
 }

/*      Font Sizes      */

.fs-400 {
    font-size: var(--fs-400);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}

.uppercase {
    text-transform: uppercase;
}

.letter-spaceing {
    letter-spacing: 0.525rem;
}

.mobile-toggle {
    display: none;
}

.mobile-img {
    display: none;
}

body a {
    position: relative;
    padding-bottom: 1rem;
}

.underline-link::after {
    content: '';
    position: absolute;
    display: block;
    inset: auto 0 0 0;
    margin-inline: auto;
    width: 60%;
    height: 3px;
    background: hsl(var(--text-white));
    transform: scale(0);
    transition: transform 250ms ease-in-out;
    transform-origin: right;
}

.underline-link:hover::after,
.underline-link:focus::after{
    transform: scale(1);
    transform-origin: left;
}

.full-width::after {
    width: 100%;
}

.overflow {
    overflow: hidden;
}


@media (max-width: 34.99em) {

    .mobile-img {
        display: block;
    }
    .desktop-img {
        display: none;
    }

    .mobile-toggle {
        display: block;
        border: none;
        outline: none;
        cursor: pointer;
        width: 2rem;
        aspect-ratio: 1;
        background: url("images/icon-hamburger.svg") center no-repeat;
    }

    .mobile-toggle[aria-expanded='true'] {
        background: url("images/icon-close.svg") center no-repeat;
    }

    .logo,
    .mobile-toggle {
        z-index: 1000;
    }
    header nav {
        position: fixed;
        inset: 0 0 0 0;

    }

    #primary-navigation {
        min-height: 100vh;
        padding-left: 2rem;
        text-transform: uppercase;
        font-family: var(--ff-jsans);
        font-size: var(--fs-700);
        font-weight: var(--fw-300);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        --flex-gap: 3rem;


        background: black;
        transform: translateY(-100%);
        transition: transform 300ms ease-in-out;
    }

    #primary-navigation[data-visible='true'] {
        transform: translateY(0);
    }
}

/*======================*/
/*      Main Section    */

main {
    min-height: 83rem;
    background: url("images/mobile/image-hero.jpg") center no-repeat;
    background-size: cover;

    grid-template-rows: max-content 1fr;
}

header {
    padding-top: clamp(5rem, 10vw, 7rem);
    width: 100%;
}

.hero-title {
    width: 100%;
    align-self: center;
}

.hero-title h1 {
    border: 1px solid white;
    padding: 2rem;
    max-width: 15ch;
}


/*======================*/
/*      interactive    */

.interactive {
    margin-block: 8rem;
}

.interactive-content {
    text-align: center;
    margin-top: 4rem;
}

.interactive-content > p {
    margin-top: 1.5rem;
    line-height: 1.7;
}

.gallery {
    text-align: center;
    margin-bottom: 7rem;
    --grid-gap: 3rem;
}

.gallery > h2 {
    margin-bottom: 2rem;
}

.gallery-btn {
    order: 1;
    justify-self: center;

    border: 1px solid hsl(var(--text-black));
    padding: 0.6em 3em;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: background 250ms ease-in-out,
                color 250ms ease-in-out;
}

.gallery-btn:hover,
.gallery-btn:focus {
    background: hsl(var(--text-black));
    color: hsl(var(--text-white));
}

.gallery figure {
    position: relative;
}

.gallery figure figcaption {
    position: absolute;

    inset: auto auto 0 0;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

/*======================*/
/*       Footer        */

.primary-footer {
    flex-direction: column;
    align-items: center;
    padding-block: 5rem;
    --flex-gap: 5rem;
}

.footer-links {
    flex-direction: column;
    --flex-gap: 3rem;
}

.footer-nav {
    font-size: var(--fs-500);
    justify-content: center;
    flex-direction: column;
    --flex-gap: 2rem;
}

.footer-info {
    flex-direction: column;
    --flex-gap: 2rem;
}


@media (min-width: 45em) {

    main {
        background: url("images/desktop/image-hero.jpg") center no-repeat;
        background-size: cover;
        min-height: 65rem;
    }

    header #primary-navigation {
        --flex-gap: 3rem;
    }

    .interactive {
        position: relative;
    }

    .interactive-content {
        max-width: 60ch;
        position: absolute;
        right: 0;
        top: 20%;
        text-align: left;
        background: hsl(var(--text-white));
        padding: 10rem 6rem;
    }



    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery h2 {
        margin-bottom: 0;
        grid-column: 1/3;
        text-align: left;
    }

    .gallery-btn {
        grid-column: 3/5;
        grid-row: 1;
        align-self: center;
        justify-self: right;
    }

    .gallery figure figcaption {
        padding-left: 3rem;

    }


    .primary-footer {
        flex-direction: row;
    }

    .footer-nav {
        flex-direction: row;
        --flex-gap: 4rem;
    }
}